@use "@fontsource/inter/index.css";

@use "abstracts/variables" as v;
@use "bootstrap/scss/bootstrap" with (
    $theme-colors: v.$theme-colors,

    $body-bg: v.$body-bg,
    $body-color: v.$body-color,

    $card-bg: v.$card-bg,
    $card-color: v.$card-color,
    $card-border-color: v.$card-border-color,

    $card-cap-bg: v.$card-cap-bg,
    $card-cap-color: v.$card-cap-color,

    $card-border-radius: v.$card-border-radius
);
@use "bootstrap-icons/font/bootstrap-icons.css";

@use "abstracts/animations";

@use "base/reset";
@use "base/global";

@use "layout/sidebar";
@use "layout/main";
@use "layout/topbar";

@use "components/link";
@use "components/cards";
@use "components/lists";
@use "components/donut";
@use "components/progress";
@use "components/feed";
@use "components/quick";
@use "components/events";
@use "components/birthdays";
