/* ==========================================================================
FORM LABEL
========================================================================== */

.form-label,
.form-check-label {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-dark);
}
.form-label {
    margin: 0 0 5px 3px;
}

/* ==========================================================================
INPUT GROUP
========================================================================== */

.input-group {
    transition: all 0.2s ease;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    background: var(--input-bg);
}

/* Remove outline duplo no focus */
.input-group .form-control:focus,
.form-check-input:focus {
    box-shadow: none;
}

/* Focus no grupo inteiro */
.input-group:focus-within {
    border-color: var(--input-focus-border-color);
}

.input-group-text {
    border: 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.55);
    padding-left: 18px;
    padding-right: 14px;
}

.input-group-text i {
    font-size: 16px;
}

/* ==========================================================================
INPUT
========================================================================== */
.form-control {
    font-size: 12px;
    border: 0;
    background: transparent;
    padding: 10px 15px;
}

/* Remove autofill branco do Chrome */
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 9999s ease-in-out 0s;
}

/* ==========================================================================
BOTÃO FORM
========================================================================== */

.input-group .btn {
    border: 0;
    background: var(--input-border-color);
    color: rgba(255, 255, 255, 0.45);
    box-shadow: none;
    padding-left: 16px;
    padding-right: 18px;
}

.input-group .btn:hover {
    color: #ffffff;
}

/* ==========================================================================
PLUGIN TOM SELECT
========================================================================== */
.ts-wrapper {
    border-radius: var(--input-border-radius) !important;

    .ts-control {
        input {
            font-size: 12px;
        }
    }

    [data-selectable] {
        &[data-value=""] {
            display: none;
        }

        color: var(--text);
        background: var(--menu-bg);
        font-size: 13px;
        padding: 8px 15px !important;

        &:hover {
            color: #fff;
            background: var(--menu-hover-bg);
        }
        &.active {
            color: #fff;
            background: var(--menu-hover-bg);
        }
    }
}
