.title-bar {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    h1 {
        font-size: clamp(20px, 3.2vw, 30px);
        font-weight: 700;
        margin: 0;
    }

    p {
        color: #b6b9c1;
        margin: 6px 0 0;
        font-size: 14px;
    }
}

h2 {
    .badge {
        font-size: 12px !important;
    }
}
