html,
body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #0a0a0c;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 12px;
}
